/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.center {
    text-align: center;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #1260FB;
}
.el-input__inner {
    color: #999;
    border-color: #999;
    border-radius: 2px;
}
.el-cascader .el-icon-arrow-down {
    color: #999;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    color: #1260FB;
    background-color: #1260FB;
}
.el-upload--picture-card:hover,.el-upload:focus {
    border-color: #1260FB;
    color: #1260FB;
}
.el-upload--picture-card:hover,.el-upload:focus i{
    color: #1260FB;
}
.el-select .el-input__inner:focus {
    border-color: #1260FB;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #1260FB;
}
.el-table .cell {
    color: #101010;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    border-color: #1260FB;
}
.el-cascader-menu__item.is-active {
    color: #1260FB;
}
.el-form-item__label {
    color: #101010;
}
.el-textarea__inner {
    border-color: #999;
}

